.mess{
    margin:1rem;
}
.ava{
    display: inline-block;
}
.err{
    width: 5rem;
    height: 5rem;
}
.cont{
    display: inline-block;
    margin-left:1rem;
    vertical-align: top;
}
.nm{
    color: white;
    font: 1.2rem arial;
    margin-bottom: 0.8rem;
    margin-top:0.2rem;
}
.errNm{
    color: #FF0000;
    font: 1.2rem arial;
    margin-bottom: 0.8rem;
    margin-top:0.2rem;
}
.nm:hover::after, .errNm:hover::after{
    content: attr(data-userid);
    color: #717171;
    font: 1rem arial;
    display: inline-block;
}
.txt{
    color: white;
    font: 0.9rem arial;
    word-wrap:break-word;
    max-width: 35rem;
}
.errTxt{
    color: #FF6363;
    font: 0.9rem arial;
    word-wrap:break-word;
    max-width: 35rem;
}
.time{
    margin-top:0.2rem;
    color: white;
    font: 1rem arial;
    float: inline-end;
    vertical-align: top;
}